[MASTER]
ignore=CVS
ignore-patterns=
persistent=yes
load-plugins=

[MESSAGES CONTROL]
# Disable some checks that are often too noisy or handled by auto-formatters
disable=
    attribute-defined-outside-init,
    invalid-name,
    missing-docstring,
    protected-access,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-locals,
    too-many-public-methods,
    too-many-statements,
    # Handled by YAPF
    bad-continuation,
    bad-whitespace

[REPORTS]
output-format=text
files-output=no
reports=no
evaluation=10.0 - ((float(5 * error + warning + refactor + convention) / statement) * 10)

[BASIC]
# Google-style naming conventions
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
class-rgx=[A-Z_][a-zA-Z0-9]+$
function-rgx=[a-z_][a-z0-9_]*$
method-rgx=[a-z_][a-z0-9_]*$
attr-rgx=[a-z_][a-z0-9_]*$
argument-rgx=[a-z_][a-z0-9_]*$
variable-rgx=[a-z_][a-z0-9_]*$
inlinevar-rgx=[a-z_][a-z0-9_]*$

[FORMAT]
max-line-length=80
indent-string='    '

[IMPORTS]
# handled by isort
